/* Modifiche logo della pagina e sfondo del logo */

.logopagina {
    width: 300px;
    margin-left: 30px;
    padding: 10px;
    margin-left: 100px;
    margin-top: 70px;
}

.sfondologo {
    background-color: rgba(78,160,255,255);
    background-image: url(../imgs/pattern.png);
    background-position: center;
    background-repeat:repeat;
    background-size: 600px;
    height: 180px;

}

/* Modifica margini del sito e font testo */
body {
    margin: 0;
}

main {
    font-size: x-large;
}

.extra {
    font-size: x-large;
}

#marginitesto {
    margin-left: 200px;
    margin-right: 200px;
}

/* Ridimensionamento titolo, footer e copyrights */
header {
    font-size: xx-large;
}

h1 {
    margin-bottom: 0;
}
#footeredits {
    font-size: large;
    color: grey;
    margin-bottom: 10px;
}

.copyrightsfoto {
    font-size: smaller;
}

/* Evidenziatore blu e giallo */
#scrittacolorata {
    color: rgba(78,160,255,255);
}

.evidenziatoregiallo {
    background-color: yellow;
}

/* Colori tabella */
th {
    color: white;
    background-color:rgba(78,160,255,255) ;
    text-align: left;
    width: 350px;
}

.tabellablu {
    background-color: rgb(130, 234, 255);
}

/* Ridimensionamento tabella */
td {
    width: 350px;
    height: 30px;
    text-align: left;
}

/* Rimozione spazio tabella */

table {
    border-collapse: collapse;
}
/* Informazioni extra sulla pagina */
.potrebbero {
    color: gray;
    font-size: xx-large;
}

.more1 {
    background-image: url(../imgs/monitor.jpg);
    height: 200px;
    width: 300px;
    color: white;
    font-size: xx-large;
    padding: 5px;
    margin-top: 5px;
}

.more2 {
    background-image: url(../imgs/graph.jpg);
    width: 300px;
    height: 200px;
    color: white;
    font-size: xx-large;
    padding: 5px;
    margin-top: 5px;
}
